**/*.class
**/*.war
**/*.ear
**/*.jar
**/.settings/
**/target/
**/bin
**/*.project
**/.classpath
**/*.prefs
**/.svn
**/.metadata
**/classes/
**/MANIFEST.MF
**/.*
**/configuracion_desa/
**/configuracion_inte/
**/*.log.*
**/*.bak
**/configuracion/
**/application.xml
**/*.log